.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.button {
    margin-top: 10px;
}
